@page
@model PROJETO_Daniel.Pages.ATUALIZARModel
@{
}

<div>
    <libel>
        Nome:

    </libel>
    <input />
</div>


        
<div>
    <libel>
        Descrição:

    </libel>
    <input />
</div>


<div>
    <libel>
        Preço:

    </libel>
    <input />
</div>



<div>
    <libel>
        Estoque:

    </libel>
    <input />
</div>


<div>
    <libel>
        URL imagem:

    </libel>
    <input />
</div>

<button>

    Salvar
</button>