@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
    <html>
    <head>
        <title> </title>
    </head>
    <body>
    
        <div  class="grid produtos">

            <div class="card" >

        <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ85uPTYcxkip21U8MicopqqztkcFdz3j_FmDKfVrvaQsjRcZv_sLQ1041sHKUE_yxPJlGJnHp5HCZxFNOdQTjME1mjA0ui5pwA3agXBCHD2xl1-Kt1JDxIZvKj_c6rMiIb4OWelg&usqp=CAc" />


            <h3> Produto </h3>
            <h3> Preço </h3>

        </div>

            </div>



    </body>
    </html>
