@page
@model IndexModel
@{
    ViewData["Title"] = "Produtos - Loja";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - Loja</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <main>
        <section class="grid produtos">
            <!-- Produto 1 -->
            <article class="card">
                <img src="https://patoloco.com.br/resize/imagecache/651555f6f1aacbed847b7847b01e0600.jpeg" alt="GEFORCE RTX 5050">
                <div class="card-content">
                    <h3 class="product-name">GEFORCE RTX 5050</h3>
                    <p class="product-price">R$ 1.552,90</p>
                    <p class="product-stock">Em estoque: 463</p>
                    <button class="btn-add-cart">Adicionar ao Carrinho</button>
                </div>
            </article>

           

            <article class="card">
                <img src="https://www.hdstore.com.br/images/thumbs/4099055_600.png
                " alt="Produto 2">
                <div class="card-content">
                    <h3 class="product-name">RYZEN 7 57500X,8-Core </h3>
                    <p class="product-price">R$ 1340,90</p>
                    <p class="product-stock">Em estoque: 280</p>
                    <button class="btn-add-cart">Adicionar ao Carrinho</button>
              
                </div>
            </article>




            <article class="card">
                <img src="
                https://cdn.dooca.store/151246/products/69viblg6c948ty63afzz8tlakisnz65e3qfw_640x640+fill_ffffff.jpg?v=1768007444&webp=0

                " alt="Produto 3">
                <div class="card-content">
                    <h3 class="product-name">MEMÓRIA DDR,8GB </h3>
                    <p class="product-price">R$ 752,90</p>
                    <p class="product-stock">Em estoque: 1488</p>
                    <button class="btn-add-cart">Adicionar ao Carrinho</button>

                </div>
            </article>

              

            <article class="card">
                <img src="https://images.kabum.com.br/produtos/fotos/114781/placa-mae-gigabyte-b550m-aorus-elite-amd-am4-micro-atx-ddr4_1594908595_gg.jpg

                " alt="Produto 4">
                <div class="card-content">
                    <h3 class="product-name">PLACA MÃE  B550M </h3>
                    <p class="product-price">R$ 971,50</p>
                    <p class="product-stock">Em estoque: 974</p>
                    <button class="btn-add-cart">Adicionar ao Carrinho</button>
              
                </div>
            </article>




                <article class="card">
                    <img src="https://images.kabum.com.br/produtos/fotos/sync_mirakl/643937/Fonte-PC-Gamer-Cowboy-RGB-Atx-500w_1728306304_gg.jpg

                    " alt="Produto 5">
                    <div class="card-content">
                        <h3 class="product-name">FONTE-PC ATX RGB 500w </h3>
                        <p class="product-price">R$ 421,80</p>
                        <p class="product-stock">Em estoque: 1374</p>
                        <button class="btn-add-cart">Adicionar ao Carrinho</button>
              
                    </div>
                </article>


                
                <article class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSMpdd3T7J4eCgmOQdTJToHMmS3-U1ulab-bFkKF1n5PmaeERNaL7pm-aY6xnKRc7l1Lz3rBbxU6MueptJKZiYrb_LMK5hx19hUN_Ju2FEZmYUC_d89qIRCZDs7WbCmZ5IXY8WP9yk&usqp=CAc
                    " alt="Produto 6">
                    <div class="card-content">
                        <h3 class="product-name">MOUSE GAMER MS101S RGB </h3>
                        <p class="product-price">R$ 59,90</p>
                        <p class="product-stock">Em estoque: 380</p>
                        <button class="btn-add-cart">Adicionar ao Carrinho</button>
              
                    </div>
                </article>

                
                <article class="card">
                    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQB4c0LoeBDgDwCMPHIGdGMRN-d3o2C6LOQfai9QWTOFxj_ucvv1V2ohZW9B53EBU04xyqBf7My4v3Wdo0xKbX4a0Lgdz6wvEPLFWyMKS8PN0-E2KGb4tVkQbfu7CJDAm4tt2bgDeJsqUk&usqp=CAc

                    " alt="Produto 7">
                    <div class="card-content">
                        <h3 class="product-name">TECLADO MECÂNICO 60% K500 </h3>
                        <p class="product-price">R$ 238,90</p>
                        <p class="product-stock">Em estoque: 901</p>
                        <button class="btn-add-cart">Adicionar ao Carrinho</button>
              
                    </div>
                </article>




                <article class="card">
                    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTlwbEJcIbrGcXClRZtiGqX75ybCrDoQDWXH0h1Q8eJgoeyKBvscGfAMmJlgSo8Ql51bgMfuEISDhP6EW5raiftJZ4O0uRMMEVSG8GX5J9LhrR7e-bCrGwBpUXe7QeXBImyj_UoOQ&usqp=CAc

                    " alt="Produto 8">
                    <div class="card-content">
                        <h3 class="product-name">HEADSET GAMER REDRAGON </h3>
                        <p class="product-price">R$ 141,90</p>
                        <p class="product-stock">Em estoque: 2014</p>
                        <button class="btn-add-cart">Adicionar ao Carrinho</button>
              
                    </div>
                </article>




                
                <article class="card">
                    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQC5PYyCYYbSaEEo5wKrxmFUYHXBQaPg_dif4Lh8Avdnex284JYz6r-5lGM4Fc0JO4qp1vJ5-fcX-byEgv9Ddo9KcWNvJKmNi1b1gTK7VWu8IO8wVnosA1pjv9QnvAhnRhj0rTF_cFHbwg&usqp=CAc

                    " alt="Produto 9">
                    <div class="card-content">
                        <h3 class="product-name">SSD KINGSTON 1TB </h3>
                        <p class="product-price">R$ 921,90</p>
                        <p class="product-stock">Em estoque: 331</p>
                        <button class="btn-add-cart">Adicionar ao Carrinho</button>
              
                    </div>
                </article>




















    </body>
    </html>
